.container{
    margin-top: 10px;
    width: 500px;
    margin-left: 440px;
}

h1{
    font-size: 30px;
    text-align: center;
    color: rgb(49, 49, 167);
    margin-bottom: 10px;
}

form b {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.btn{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 100%;
}

.fpass{
    color: black;
    font-size: 18px;
}